{% for customer in customers %}
<tr>
  <td>{{ customer.id }}</td>
  <td>{{ customer.name }}</td>
  <td>{{ customer.email }}</td>
  <td>{{ customer.phone }}</td>
  <td>{{ customer.address }}</td>
  <td>
    <!-- Üç nokta dropdown menü -->
    <div class="dropdown">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton{{ customer.id }}" data-bs-toggle="dropdown" aria-expanded="false">
        ⋮
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ customer.id }}">
        <li><a class="dropdown-item" href="{% url 'crm:customer_edit' customer.id %}">Düzenle</a></li>
        <li>
          <a class="dropdown-item" 
             href="{% url 'crm:delete_customer' customer.id %}" 
             onclick="return confirm('Bu müşteriyi silmek istediğinize emin misiniz?');">
              Sil
          </a>
        </li>
        <li><a class="dropdown-item" href="#">İletişime Geç</a></li>
      </ul>
    </div>
  </td>
</tr>
{% endfor %}